@using InternPortal.Client.Models;
@inject NavigationManager Navigation
@inject ISnackbar Snackbar
@inject HttpClient Http

<EditForm Model="@Internship" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary Class="mb-4" />

    <MudGrid Spacing="2" Justify="Justify.FlexStart">
        @if (ShowInternshipId)
        {
            <MudItem xs="12" md="6">
                <MudTextField Label="Id"
                              Variant="Variant.Outlined"
                              @bind-Value="IdString"
                              ReadOnly="true"
                              Margin="Margin.Dense"
                              Class="mb-4" />
            </MudItem>
        }

        <MudItem xs="12" md="6">
            <MudTextField Label="Имя"
                          Variant="Variant.Outlined"
                          @bind-Value="Internship.Name"
                          Required="true"
                          RequiredError="Поле обязательно для заполнения"
                          Margin="Margin.Dense"
                          Class="mb-4" />
            <ValidationMessage For="@(() => Internship.Name)" />
        </MudItem>

        <MudItem xs="12">
            <MudSelect T="Guid"
                       Label="Выберите стажеров"
                       Variant="Variant.Outlined"
                       MultiSelection="true"
                       AnchorOrigin="Origin.BottomCenter"
                       @bind-SelectedValues="selectedInternIds"
                       Margin="Margin.Dense"
                       Class="mb-4">
                @foreach (var intern in Interns)
                {
                    <MudSelectItem T="Guid"
                                   Value="@intern.Id"
                                   Disabled="@(tempInternIds.Contains(intern.Id) && !CanDeselect)">
                        @($"{intern.LastName} {intern.FirstName}")
                    </MudSelectItem>
                }
            </MudSelect>
        </MudItem>

        @if (ShowInternshipId)
        {
            <MudItem xs="12" md="6" class="pa-2">
                <MudText>Создан: @Internship.CreateAt</MudText>
            </MudItem>
            <MudItem xs="12" md="6" class="pa-2">
                <MudText>Изменён: @Internship.UpdateAt</MudText>

            </MudItem>
        }

        <MudItem xs="12" Class="d-flex justify-end mt-4">
            <div class="d-flex gap-2">
                <MudButton Variant="Variant.Text"
                           Color="Color.Secondary"
                           OnClick="Cancel"
                           StartIcon="@Icons.Material.Filled.Cancel"
                           Class="ml-2">
                    Отмена
                </MudButton>

                @if (ShowInternshipId)
                {
                    <MudButton Variant="Variant.Text"
                               Color="Color.Error"
                               OnClick="() => Delete(Internship.Id)"
                               StartIcon="@Icons.Material.Filled.Delete"
                               Class="ml-2">
                        Удалить
                    </MudButton>
                }

                <MudButton Variant="Variant.Filled"
                           Color="Color.Primary"
                           ButtonType="ButtonType.Submit"
                           StartIcon="@Icons.Material.Filled.Save"
                           Class="ml-2">
                    Сохранить
                </MudButton>
            </div>
        </MudItem>
    </MudGrid>
</EditForm>

@code {
    [Parameter]
    public bool ShowInternshipId { get; set; } = false;

    [Parameter]
    public Func<Internship, Task<HttpResponseMessage>> SubmitAction { get; set; }

    [Parameter]
    public Internship Internship { get; set; } = new();

    private List<Intern>? Interns { get; set; } = new();

    private IEnumerable<Guid> selectedInternIds = new HashSet<Guid>();

    private IEnumerable<Guid> tempInternIds = new HashSet<Guid>();

    private bool CanDeselect = false;

    private string IdString
    {
        get => Internship.Id.ToString();
        set => Internship.Id = Guid.TryParse(value, out var guid) ? guid : Guid.Empty;
    }

    protected override async Task OnInitializedAsync()
    {
        Interns = await Http.GetFromJsonAsync<List<Intern>>("/api/Intern/GetAll");
        if (ShowInternshipId)
        {
            selectedInternIds = Internship.Interns;
            tempInternIds = Internship.Interns;
        }

    }

    private async Task HandleValidSubmit()
    {
        Internship.Interns = selectedInternIds.ToList();
        Internship.UpdateAt = DateTime.UtcNow;
        if (!ShowInternshipId) Internship.CreateAt = DateTime.UtcNow;
        var response = await SubmitAction(Internship);


        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/entities");
        }
        else
        {
            var errorMessage = await response.Content.ReadAsStringAsync();
            Console.WriteLine($"Ошибка: {errorMessage}");
        }
    }

    private void Cancel()
    {
        Navigation.NavigateTo("/entities");
    }

    private async Task Delete(Guid id)
    {

        var response = await Http.DeleteAsync($"/api/Internship/DeleteById/{id}");

        if (response.IsSuccessStatusCode)
        {
            Snackbar.Add("Запись успешно удалена", Severity.Success);
        }
        else
        {
            var errorContent = await response.Content.ReadAsStringAsync();

            var firstLine = errorContent.Split('\n').FirstOrDefault()?.Trim();

            var cleanMessage = firstLine?.Replace("System.Exception: ", "");

            Snackbar.Add(cleanMessage ?? "Неизвестная ошибка", Severity.Error);
        }
    }
}